@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model ClothingCompany.Models.NavGroup
@{

}
<footer>
    <div style="background-color:cadetblue">
        <section class="section">
            <div class="container">
               <div class="columns">
                   <div class="column"></div>
                   <figure class="image is-128x128">Image</figure>
               </div>
                Reference Items
            </div>
        </section>

        <div class="footer footer-extended">
            <div class="container content">
                <p>&copy; @DateTime.Now.Year Sitecore</p>
            </div>
        </div>
    </div>
</footer>