@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    var homeItem = Sitecore.Context.Database.GetItem(Sitecore.Context.Site.StartPath);
}
<nav>
    <div class="navbar is-light" role="navigation" aria-label="dropdown navigation">
        @Html.Sitecore().ControllerRendering("Nav", "Index")
        <div class="navbar-end">
            <div class="navbar-item">
                @Html.Sitecore().Field("__Display Name", homeItem, new { DisableWebEdit = true })
            </div>
        </div>
    </div>
</nav>