@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Montserrat" rel="stylesheet">
    <title>@Html.Sitecore().Field("Page Title", new { DisableWebEdit = true })</title>
    <link rel="stylesheet" href="~/Project/css/clothingco-styles.css" />
    <link rel="stylesheet" href="~/Project/css/custom.css" />
</head>

<body>
    <h1>@Html.Sitecore().Field("Page Title", new { DisableWebEdit = true })</h1>
    <div>
        @Html.Sitecore().Placeholder("main")
    </div>

    <script src="~/Project/js/clothingco-script.js"></script>
</body>
</html>